body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navBar {
    background: midnightblue;
    height: 55px;
    width: 100%;
}

.about {
    background: white;
    height: 420px;
    width: 100%;
}

.skills {
    background: purple;
    height: 100%;
    width: 100%;
}

.portfolio {
    background: yellow;
    height: 200px;
    width: 100%;
}

.contact {
    background: green;
    height: 200px;
    width: 100%;
}